In [18]:
import plotly.express as px
import pandas as pd

df = pd.read_excel(
    "../data/resultat-ansokningsomgang-2024.xlsx",
    sheet_name="Tabell 3",
    skiprows=5,
)

# goal
# antalet sökta utbildningar per kommun

df.head()

,Utbildningsområde,SUN5 inriktning,SUN5 inriktning namn,Utbildningsnamn,Beslut,Diarienummer,Flera kommuner,Antal kommuner,Län,Kommun,...,Sökta utbildningsomgångar,Beviljade utbildningsomgångar,Sökta platser per utbildningsomgång,Sökta platser totalt,Beviljade platser utbildningsomgång 1,Beviljade platser utbildningsomgång 2,Beviljade platser utbildningsomgång 3,Beviljade platser utbildningsomgång 4,Beviljade platser utbildningsomgång 5,Beviljade platser totalt
0,Data/IT,481ab,"Utbildningar till programmerare, spel",AI Programmer,Avslag,MYH 2024/3742,Nej,1,Västerbotten,Umeå,...,3,0,30,90,0,0,0,0,0,0
1,Data/IT,481ab,"Utbildningar till programmerare, spel","Forsbergs, Spelutvecklare – Game Programming",Avslag,MYH 2024/4174,Nej,1,Stockholm,Stockholm,...,3,0,20,60,0,0,0,0,0,0
2,Data/IT,481ab,"Utbildningar till programmerare, spel",Futuregames Game Programmer Specialization,Avslag,MYH 2024/3029,Ja,2,Flera kommuner,Flera kommuner,...,3,0,30,90,0,0,0,0,0,0
3,Data/IT,481ab,"Utbildningar till programmerare, spel",Game Programmer,Avslag,MYH 2024/3425,Nej,1,Blekinge,Karlshamn,...,3,0,25,75,0,0,0,0,0,0
4,Data/IT,481ab,"Utbildningar till programmerare, spel",Spelprogrammerare,Beviljad,MYH 2024/3852,Nej,1,Skåne,Malmö,...,4,3,35,140,35,35,35,0,0,105

In [27]:
df["Kommun"]

0                 Umeå
1            Stockholm
2       Flera kommuner
3            Karlshamn
4                Malmö
             ...
1267          Göteborg
1268        Skellefteå
1269    Flera kommuner
1270           Leksand
1271         Stockholm
Name: Kommun, Length: 1272, dtype: object

In [3]:
df["Kommun"].value_counts()

Kommun
Flera kommuner    292
Stockholm         248
Göteborg          157
Malmö              86
Linköping          32
                 ...
Götene              1
Ronneby             1
Västervik           1
Hammarö             1
Leksand             1
Name: count, Length: 104, dtype: int64

In [8]:
df["Utbildningsområde"].unique()

array(['Data/IT', 'Ekonomi, administration och försäljning',
       'Friskvård och kroppsvård', 'Hotell, restaurang och turism',
       'Hälso- och sjukvård samt socialt arbete',
       'Journalistik och information', 'Juridik',
       'Kultur, media och design',
       'Lantbruk, djurvård, trädgård, skog och fiske',
       'Pedagogik och undervisning', 'Samhällsbyggnad och byggteknik',
       'Säkerhetstjänster', 'Teknik och tillverkning',
       'Transporttjänster', 'Övrigt'], dtype=object)

In [ ]:
import plotly.express as px
px.bar(df["Kommun"].value_counts())

In [26]:
educational_area = "Data/IT"
df.query("Utbildningsområde == '@educational_area'")[
    "Kommun"
].value_counts().reset_index().rename({"count": "Ansökta utbilningar"}, axis=1)

Empty DataFrame
Columns: [Kommun, Ansökta utbilningar]
Index: []

#### To update the graph:

- it requires a function that returns a dataframe and this function can be filtered
- this filtered dataframe is placed into a function to return a figure

In [23]:
def filter_df_municipality(df, educational_area="Data/IT"):
    return (
        df.query("Utbildningsområde == '@educational_area'")["Kommun"]
        .value_counts()
        .reset_index()
        .rename({"count": "Ansökta utbilningar"}, axis=1)
    )
    
df_municipality = filter_df_municipality(df)
df_municipality

Empty DataFrame
Columns: [Kommun, Ansökta utbilningar]
Index: []

In [ ]:
px.bar(df_municipality, y="Kommun", x="Ansökta utbildningar")

In [ ]:
def create_municipality_bar(df, **options):
    df["Ansökta_label"] = df["Ansökta utbildningar"].apply(
        lambda row: " " * 2 + f"{row}" + " " * 2
    )

    fig = px.bar(
        df,
        y="Kommun",
        x="Ansökta utbildningar",
        text="Ansökta_label",
    )
    fig.update_layout(
        plot_bgcolor="white",
        margin=dict(t=0, l=40, r=30, b=50),
        yaxis=dict(
            autorange="reversed",
            ticklabelposition="outside left",
            showline=True,
            linecolor="lightgray",
            title=dict(text=f"<b>{options.get('ylabel')}</b>"),
        ),
        xaxis=dict(
            linecolor="lightgray",
            showticklabels=False,
            title=f"<b>{options.get('xlabel')}</b>",
        ),
    )

    fig.update_traces(
        textposition="outside",
        hovertemplate="<b>%{y}</b><br>Ansökta utbildningar: %{x}",
    )

    return fig


create_municipality_bar(
    df_municipality, xlabel="# ANSÖKTA UTBILDNINGAR", ylabel="KOMMUN"
)